.about {
  flex-direction: column;
}
.about__name {
  color: var(--clr-primary);
}
.about > :nth-child(1) {
  margin-top: 1.2em;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

.home > :nth-child(1){
  font-size: 30px;
}

.home > :nth-child(2){
  font-size: 20px;
  max-width: 100%;
  margin-right: 0%;
}

.about__desc {
  font-size: 1rem;
  max-width: 100%;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
  
}
.about__contact{
  display: flex;
 gap: 20px;
}
.about .link--icon {
  margin-right: 1.8em;
}

.about .btn--outline {
  margin-right: 1em;
}
.btnResume{
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-bg);
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  padding: 0px 30px;
  margin-top: 10px;
  margin-right: 130px;
  font-size:15px;
  font-weight: bold;
}

.btnResume:hover{
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}

.home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin-left: 120px; */
}

.about-animate{
display: flex;

/* display: grid;
grid-template-columns: 1fr ;
margin:0px; */
}

@media(max-width: 1100px){
  .about-animate{
    display: flex;
    flex-wrap:nowrap; 
    flex-direction: row;
  }
    .lottiefiles{
    margin-top:50px;
  }
  
}

@media(max-width: 950px){
  .about-animate{
    display: flex;
    flex-direction: column; 
    
  }
  .about{
    margin:0px auto;
  }
 

}


@media (max-width: 600px) {
  .mobileHead{
    align-content: center;
  }
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
  }
  .about > :nth-child(1) {
    display:flex;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 1.5rem;
  }

}


/* @media screen and ( max-width: 992px) {
  .lottiefiles{
    
  }
} */