.header {
  display:flex;
  flex-wrap:nowrap;
  
  justify-content: space-between;
  width:80%;
  margin: 0px auto;
  }
  

  @media (max-width: 900px) {
    .header {
      display:flex;
      flex-wrap:nowrap;
      width:90%;
      justify-content: space-between;
      margin: 0px auto;
    } 

  } 
  @media (max-width: 800px) {
    .header {
      display:flex;
      flex-wrap:nowrap;
      justify-content: space-between;
      margin: 0px ;
    } 

  } 

  @media (max-width: 750px) {
    .header {
      display:flex;
      flex-wrap:nowrap;
      gap: 0px;
      margin: 0px ;
    } 
  } 

  img{
    width: 30px;
    margin-right: 4px;
  }
  .santhiya-logo{
    height: 50px;
    width:100px;
    object-fit:contain;
  }
  